{% extends 'base.html' %}
{% block content %}
<div class="container py-5 ">
    <h1 class="text-2xl m-10 font-bold">Register User</h1>
    <form action="" method="post" class="w-2/5 bg-white-700 shadow-md m-10 rounded px-8 pt-8 pb-8 mb-4">
        {% csrf_token %}
        {% if form.username.errors %}
        <div class="alert alert-danger">
            <div class="text-red-500 mb-15">{{ form.username.errors|join:" " }}</div>
        </div>
        {% endif %}
        <div class="mb-4">
            <label for="id_username" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
            <input id="id_username" type="text" name="username" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight" required>
        </div>
        <div class="mb-4">
            <label for="id_email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
            <input id="id_email" type="email" name="email" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight" required>
        </div>
        <div class="mb-4">
            <label for="id_password1" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
            <input id="id_password1" type="password" name="password1" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight" required>
        </div>
        <div class="mb-6">
            <label for="id_password2" class="block text-gray-700 text-sm font-bold mb-2">Confirm Password:</label>
            <input id="id_password2" type="password" name="password2" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight" required>
        </div>
        <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Register</button>
    </form>
</div>
{% endblock %}
