{% extends 'base.html' %}
{% load static %}
{% block content %}
        <nav class="bg-white shadow-lg">
            <div class="max-w-6xl mx-auto px-4">
                <div class="flex justify-between">
                    <div class="flex space-x-7">
                        <div>
                            <a href="#" class="flex items-center px-2 pu4">
                            <img class="h-8 w-8 " src="{% static 'Images/add-cart.png' %}" alt="">
                            <span class="text-xl text-gray-500">Pro Shop</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% for product in products %}
        <div><a href="{% url 'detail' product.id %}">ID:{{ product.id }} ,NAME:{{ product.name }}, PRICE:{{ product.price }}</a></div>
        {% endfor %}

{% endblock content %}