{% load static %}
<nav class="bg-white shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
            <div class="flex space-x-7">
                <div>
                    <a href="{% url 'myapp:index' %}" class="flex items-center px-2 py-4">
                    <img class="h-8 w-8 " src="{% static 'Images/add-cart.png' %}" alt="">
                    <span class="text-xl text-gray-500 font-semibold">Pro Shop</span>
                    </a>
                </div>
                <div class="items-center flex space-x-1">
                     <a href="#" class="py-2 px-2 text-gray-500 font-semibold border-b-4 border-green-500">Home</a>
                     <a href="{% url 'myapp:index' %}" class="py-2 px-2 text-gray-500 font-semibold ">About</a>
                     <a href="{% url 'myapp:index' %}" class="py-2 px-2 text-gray-500 font-semibold ">Contacts</a> 
                     <a href="{% url 'myapp:index' %}" class="py-2 px-2 text-gray-500 font-semibold ">Place</a> 
                </div>
                <div class="mt-3">
                    <form id="logout-form flex justify-end" action="{% url 'users:logout' %}" method="post" class="ml-auto">
                        {% csrf_token %}
                        <div class="flex justify-end ml-600">
                            <button style="margin-left: 500px;" type="submit" class="py-2 px-4 bg-green-500 text-white font-semibold rounded-md shadow-md hover:bg-green-600">Logout</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>